* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
    font-family: 'SF Pro Display';
}

header {
    width: 100%;
    min-height: 10vh;
    background: green;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    inset: 0;
    width: 100%;
    min-height: 10vh;

    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cards__container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}