.cta__section {
    width: 100%;
    min-height: 25vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem 0;
}

.cta__container {
    width: 50%;
    text-align: center;
}

.cta__title {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.cta__subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.cta__button {
    width: 50rem;
    height: 4rem;
    padding: 0.75rem 2rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta__notice {
    margin-top: 1.5rem;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 0.8rem;
    background: #f7f7f7;
    font-size: 1.5rem;
    line-height: 1.6;
}

@media(width <=770px) {
    .cta__container {
        width: 80%;
    }

    .cta__title {
        font-size: 2rem;
    }

    .cta__subtitle {
        font-size: 1.25rem;
    }

    .cta__button {
        width: 30rem;
        font-size: 1rem;
    }

    .cta__notice {
        font-size: 1rem;
    }
}