.portfolio__item {
    position: relative;
    overflow: hidden;
    height: auto;
}

.portfolio__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.portfolio__item-name {
    font-size: 2rem;
    font-weight: bold;
}

.portfolio__item-text {
    font-size: 1.8rem;
}

.portfolio__item-hover {
    position: absolute;
    inset: 0;
    /* reemplaza top, left, width, height */
    background: rgba(0, 0, 0, 0.65);
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;

    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.portfolio__item:hover .portfolio__item-hover {
    transform: translateY(0);
}