@font-face {
  font-family: 'Cinzel';
  src: url('./static/Cinzel-Regular.ttf') format('truetype');
  font-weight: 100 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cinzel';
  src: url('./static/Cinzel-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cinzel';
  src: url('./static/Cinzel-SemiBold.ttf') format('truetype');
  font-weight: 600 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cinzel';
  src: url('./static/Cinzel-Black.ttf') format('truetype');
  font-weight: 700 900;
  font-style: normal;
  font-display: swap;
}