:root {
  /* Breakpoints base */
  --mobile: 480px;             /* Smartphones */
  --tablet-portrait: 768px;    /* Tablet vertical */
  --tablet-landscape: 1024px;  /* Tablet horizontal */
}

html{
    font-size: 10px;
}

.page__content{
    min-height: 100vh;
    min-width: 100%;
    font-family: 'SF Pro Display';
}

.content__header{
    min-width: 100%;
    min-height: 10vh;
    background: lightblue;
    font-size: 2rem;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__main{
    min-width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: row;
}

.content__aside{
    min-height: 85vh;
    min-width: 20%;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__articles{
    min-width: 80%;
    min-height: 85vh;
    background: lightyellow;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.content__articles article{
    height: 15rem;
    width: 30rem;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    grid-column-start: 1;
}

.content__footer{
    width: 100%;
    height: 5vh;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/* Responsive */
@media(max-width: 1190px){
    .content__header{
        font-size: 1.5rem;
    }
}