@reference "../../../assets/styles/App.css";

/* NavItem Component - BEM */

.nav-item {
    @apply list-none;
}

.nav-item__link {
    @apply relative;
    position: relative;
}

.nav-item__link:focus-visible {
    border-radius: 0.125rem;
}

.nav-item__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.25rem;
    height: 0.125rem;
    background-color: white;
    transition: all 300ms ease;
    width: 0;
}

.nav-item__link--active::after {
    width: 100%;
}

.nav-item__link:hover::after {
    width: 100%;
}
