@font-face {
  font-family: 'Cascadia_Code';
  src: url('./static/CascadiaCode-ExtraLight.ttf') format('truetype');
  font-weight: 100 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia_Code';
  src: url('./static/CascadiaCode-ExtraLightItalic.ttf') format('truetype');
  font-weight: 100 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia_Code';
  src: url('./static/CascadiaCode-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia_Code';
  src: url('./static/CascadiaCode-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia_Code';
  src: url('./static/CascadiaCode-SemiBold.ttf') format('truetype');
  font-weight: 600 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia_Code';
  src: url('./static/CascadiaCode-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia_Code';
  src: url('./static/CascadiaCode-Bold.ttf') format('truetype');
  font-weight: 700 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia_Code';
  src: url('./static/CascadiaCode-BoldItalic.ttf') format('truetype');
  font-weight: 700 900;
  font-style: italic;
  font-display: swap;
}