@import "tailwindcss";

html {
    font-family: Poppins, ui-sans-serif, system-ui;
}

/* Oculta scrollbar pero mantiene scroll */
.no-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.no-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE/Edge viejo */
    scrollbar-width: none;
    /* Firefox */
}