.member {
    min-height: 55vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.member__img {
    height: 50%;
    object-fit: cover;
}

.member__name {
    font-size: 2rem;
    font-weight: lighter;
}

.member__position {
    font-size: 1.5rem;
    color: tomato;
    font-weight: lighter;
}

.member__description {
    font-size: 1.4rem;
    font-weight: lighter;
    line-height: 1.8rem;
}

.member__list {
    display: flex;
    flex-direction: row;
    gap: .5rem;

}

.member__social {
    height: 3rem;
    width: 3rem;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member__social-icon {
    width: 2rem;
    height: 2rem;
}

@media (width <=1050px) {
    .member {
        width: 100%;
        height: auto;
    }
}

@media (width <=600px) {
    .member {
        justify-content: space-evenly;
    }
}