*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'SF Pro Display';
}

.container{
    min-width: 100%;
    background: gray;
}

.container__header{
    min-width: 100%;
    background-color: red;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.container__nav{
    min-width: 100%;
    height: 5rem;
    background-color: purple;
    display: flex;
    align-items: center;
}

.container__nav ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container__nav ul li{
    list-style: none;
}

.container__nav ul li a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.container__body{
    min-width: 100%;
    display: flex;
}

.container__content{
    min-width: 80%;
    height: 600px;
    background: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__content .content__article{
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    color: white;
    text-align: center;
}

.container__aside{
    width: 20%;
    background: yellow;
    padding: 2rem;
}

.container__footer{
    min-width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__footer p{
    font-size: 2rem;
}