*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: slategrey;
    flex-direction: column;
    font-family: 'SF Pro Display';
    font-size: 3rem;
}

audio {
    display: block; /* Permite posicionar el reproductor como un bloque */
    width: 50%;    /* Ocupa el ancho disponible */
    margin-top: 5rem;
}