.header {
    position: sticky;
    top: 0;
    z-index: 10;


    width: 100%;
    min-height: 10rem;

    background: #0b1622;
}

.header__container {
    width: 100%;
    height: 100%;

    padding: 3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__logo {
    height: 5rem;
    width: 5rem;
}

.container__list {
    width: 50%;
    height: 100%;

    /* border: 1px solid black; */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.list__item {
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: white;
    letter-spacing: 2px;
}

.list__item:hover {
    color: #0ea982;
}