:root {
    --primary-color: #3A3E63;
    --secondary-color: #E3E3E3;
    --terciary-color: #523549;
    --testimonial-color: #523549;
    --footer-color: #313455;

    --button-color: #E84546;
    --button-hover: #c93030;

    --font-display: 'Syne', sans-serif;
    --font-body: 'DM Sans', sans-serif;
}