.testimonial {
    width: 100%;
    min-height: 45vh;
    background: var(--testimonial-color);

    display: flex;
}

.testimonial__img-box {
    width: 50%;
}

.testimonial__text-box {
    width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
}

.testimonial__text {
    width: 60%;
    color: white;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.5;
}

.testimonial__author {
    display: block;
    margin-top: 2rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.03em;
}

@media(width <=1025px) {
    .testimonial__text {
        font-size: 2rem;
        width: 80%;
    }
}

@media(width <=870px) {
    .testimonial__text {
        font-size: 1.5rem;
    }
}

@media(width <=600px) {
    .testimonial {
        flex-direction: column;
    }

    .testimonial__img-box {
        width: 100%;
    }

    .testimonial__text-box {
        width: 100%;
        padding: 2rem 0;
    }
}

@media(width <=375px) {
    .testimonial__text {
        font-size: 1.2rem;
    }

    .testimonial__author {
        font-size: 1rem;
    }
}
