@font-face {
  font-family: 'Playfair_Display_SC';
  src: url('./PlayfairDisplaySC-Regular.ttf') format('truetype');
  font-weight: 100 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair_Display_SC';
  src: url('./PlayfairDisplaySC-Black.ttf') format('truetype');
  font-weight: 700 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair_Display_SC';
  src: url('./PlayfairDisplaySC-BlackItalic.ttf') format('truetype');
  font-weight: 700 900;
  font-style: italic;
  font-display: swap;
}