*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display';
}

html{
    font-size: 10px;
}

.layout{
    min-width: 100%;
    min-height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout__content{
    height: 50rem;
    width: 50rem;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}