.team {
    width: 100%;
    min-height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5rem;
}

.team__list {
    width: 80%;
    min-height: 50vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}

@media (width <=1050px) {
    .team__list {
        width: 90%;

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        padding: 2rem;
        gap: 2rem;
    }
}

@media (width <=600px) {
    .team {
        padding: 2rem;
    }

    .team__list {
        width: 100%;

        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;

        padding: 1rem;
        gap: 1.5rem;
    }
}