@font-face {
  font-family: 'Lobster_Two';
  src: url('./LobsterTwo-Regular.ttf') format('truetype');
  font-weight: 100 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lobster_Two';
  src: url('./LobsterTwo-Bold.ttf') format('truetype');
  font-weight: 700 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lobster_Two';
  src: url('./LobsterTwo-BoldItalic.ttf') format('truetype');
  font-weight: 700 900;
  font-style: italic;
  font-display: swap;
}