@font-face {
  font-family: 'Lato';
  src: url('./Lato-Light.ttf') format('truetype');
  font-weight: 100 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('./Lato-LightItalic.ttf') format('truetype');
  font-weight: 100 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('./Lato-Black.ttf') format('truetype');
  font-weight: 700 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('./Lato-BlackItalic.ttf') format('truetype');
  font-weight: 700 900;
  font-style: italic;
  font-display: swap;
}