.features {
    width: 100%;
    min-height: 60vh;
    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5rem;
}

.features__title {
    width: 50%;
    height: 15vh;
    /* border: 2px solid white; */
}

.features__title-h2 {
    color: white;
    font-size: 6rem;
    text-align: center;
    font-style: normal;
}

.features__title-p {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    color: #ccc;
}

.features__cards {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* border: 2px solid white; */
    flex: 1 1 auto;
    margin-top: 2rem;
}

.card {
    width: 20%;
    height: auto;
    /* border: 3px solid red; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 3rem;

    color: white;
}

.card__icon {
    font-size: 3rem;
}

.card__title {
    font-size: 2.5rem;
    font-weight: 600;
}

.card__description {
    font-size: 2rem;
    text-align: center;
    padding: 0 1rem;
    color: gray;
}