/* Fuentes Personalizadas */
@font-face{
    font-family: "TrebuchetMS";
    src: url('../assets/fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "BebasNeue";
    src: url('../assets/fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "WebSymbolsRegular";
    src: url('../assets/fonts/websymbols-regular-webfont.eot');
    src: url('../assets/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('../assets/fonts/websymbols-regular-webfont.woff') format('woff'),
            url('../assets/fonts/websymbols-regular-webfont.ttf') format('truetype'),
            url('../assets/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Estilos Generales */
html{
    font-size: 10px;
}

body{
    background-image: url('../assets/img/pattern.png');
}

.page{
    width: 100%;
    height: 150vh;
}

.page__header{
    width: 100%;
    height: 7rem;
    background: black;
    font-family: 'BebasNeue';
}

.wrap{
    width: 80%;
    height: 7rem;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
}

.wrap__logo{
    width: 20rem;
    height: 5rem;
    background-color: #37bcf9;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 4rem;
    cursor: crosshair;
    overflow: hidden;
    transition: all .3s;
}

.wrap__gear{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.wrap__gear{
    font-family: "WebSymbolsRegular";
}

.header__nav{
    margin-left: 40rem;
    height: 100%;
    width: 50%;
}

.header__nav ul{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 2.5rem;
}

.header__nav ul li{
    transition: all 0.3s ease-in-out;
    letter-spacing: 2px;
}

.header__nav ul li:hover{
    color: #37bcf9;
}

/* BANNER */
.banner__info{
    width: 80%;
    height: 10rem;
    margin: 0 auto;
    border: 1rem solid white;
    box-shadow: 0px 0px 2px gray;
    background-image: url('../assets/img/bakbaner.png');
    background-position: -200px -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    font-family: 'BebasNeue';
    letter-spacing: 2px;
    word-spacing: 5px;
    text-shadow: 4px 4px 1px black;
}

.cards{
    width: 80%;
    height: 50rem;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.card{
    width: 18%;
    height: 70%;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background: white;
}

.card .icon{
    font-family: 'WebSymbolsRegular';
    font-size: 5rem;
    margin: 1rem;
}

