@font-face {
  font-family: 'Montserrat';
  src: url('./static/Montserrat-ExtraLight.woff2') format('woff2');
  font-weight: 100 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./static/Montserrat-ExtraLightItalic.woff2') format('woff2');
  font-weight: 100 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./static/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./static/Montserrat-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./static/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./static/Montserrat-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./static/Montserrat-Black.woff2') format('woff2');
  font-weight: 700 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./static/Montserrat-BlackItalic.woff2') format('woff2');
  font-weight: 700 900;
  font-style: italic;
  font-display: swap;
}