@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('./static/CormorantGaramond-Light.ttf') format('truetype');
  font-weight: 100 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('./static/CormorantGaramond-LightItalic.ttf') format('truetype');
  font-weight: 100 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('./static/CormorantGaramond-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('./static/CormorantGaramond-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('./static/CormorantGaramond-SemiBold.ttf') format('truetype');
  font-weight: 600 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('./static/CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('./static/CormorantGaramond-Bold.ttf') format('truetype');
  font-weight: 700 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('./static/CormorantGaramond-BoldItalic.ttf') format('truetype');
  font-weight: 700 900;
  font-style: italic;
  font-display: swap;
}