.team__section {
    width: 100%;
    min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5rem;
}

.container__memberCard {
    width: 70%;
    min-height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (width <=1050px) {
    .container__memberCard {
        width: 90%;

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        padding: 2rem;
        gap: 2rem;
    }
}

@media (width <=600px) {
    .team__section {
        padding: 2rem;
    }

    .container__memberCard {
        width: 100%;

        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;

        padding: 1rem;
        gap: 1.5rem;
    }
}